<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отображение проектов</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="projects-table">
    <div class="project-card">
        <h2>Название проекта 1</h2>
        <p>Описание проекта 1</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 5 дней</p>
        <p>Дата создания: 01.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 2</h2>
        <p>Описание проекта 2</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 15 дней</p>
        <p>Дата создания: 12.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 3</h2>
        <p>Описание проекта 3</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 15 дней</p>
        <p>Дата создания: 13.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 4</h2>
        <p>Описание проекта 4</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 15 дней</p>
        <p>Дата создания: 14.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>

    <div class="project-card">
        <h2>Название проекта 5</h2>
        <p>Описание проекта 5</p>
        <p>Срочность: Низкая</p>
        <p>Время выполнения: 16 дней</p>
        <p>Дата создания: 18.05.2022</p>
    </div>
    <!-- Добавьте остальные карточки проектов сюда -->
</div>
<script src="../static/scripts/script.js"></script>
</body>
</html>